<template>
  <nav>
    <NuxtLink class="navlink" to="/DisplayDB">Display</NuxtLink>
    <NuxtLink class="navlink" to="/InputDB">Add Item</NuxtLink>
  </nav>
</template>

<style scoped>
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px black solid;
}

.navlink {
  background-color: goldenrod;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
}
</style>
